<div *ngIf="user.admin">
<h2 class ="page-haeder">Create Item</h2>
<form (submit)="onCreateItemSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input type="text" [(ngModel)]="title" name="title" class="form-control">
  </div>

  <div class="form-group">
    <label>Author</label>
    <input type="text" [(ngModel)]="author" name="author" class="form-control">
  </div>

  <div class="form-group">
    <label>Category</label>
    <input type="text" [(ngModel)]="category" name="category" class="form-control">
  </div>

  <div class="form-group">
    <label>Price</label>
    <input type="text" [(ngModel)]="price" name="price" class="form-control">
  </div>

  <div class="form-group">
    <label>Stock</label>
    <input type="text" [(ngModel)]="stock" name="stock" class="form-control">
  </div>

  <div class="form-group">
    <label>Discount</label>
    <input type="text" [(ngModel)]="discount" name="discount" class="form-control">
  </div>

  <h4>Pick an Item Picture</h4>
  <div class="cc-selector">
          <input id="normalBook" type="radio" name="logo" [(ngModel)]="myLogo" value="normalBook" checked />
          <label class="drinkcard-cc normalBook" for="normalBook"></label>
      <input id="eBook" type="radio" name="logo" [(ngModel)]="myLogo" value="eBook" />
      <label class="drinkcard-cc eBook" for="eBook"></label>
      <input id="audioBook" type="radio" name="logo" [(ngModel)]="myLogo" value="audioBook" />
      <label class="drinkcard-cc audioBook" for="audioBook"></label>
  </div>

  <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>