.full-width {
    width: 100%;
  }
  .color {
    background-color: yellow;
}



/* .radio {
  opacity: 0;
  position: absolute;
}
.label {
  background: url('/assets/images/leagueOfLegendsLogo2.png');
  background-size: 105px;
  text-indent: -999em;
  border: 10px solid white;
  width: 126px;
  height: 126px;
  display: block;
  float: left;
  margin: 10px;
}
input[type="radio"]:checked + label {
  border: 10px solid orange;
} */

.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}
.normalBook{background-image:url('/assets/images/bookLogo.png');}
.eBook{background-image:url('/assets/images/eBookReal.png');}
.audioBook{background-image:url('/assets/images/audioBookReal.png');}


.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:200px;height:130px;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
     -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
          filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}
