<div class="jumbotron text-center">
  <h1>Eddy's Book Store</h1>
  <p class="lead">Welcome to Eddy's Book Store </p>
  <div> 
    <a class="btn btn-primary" [routerLink]= "['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Buy Books</h3>
    <p>Book are great</p>
  </div>

  <div class="col-md-4">
    <h3>E-Books</h3>
    <p>Don't wannna read? No problem</p>
  </div>

  <div class="col-md-4">
    <h3>Create an Account</h3>
    <p>View your purchasing history!</p>
  </div>
</div>